/*
        Table Of Contents
        ------------------
      1. LAYOUTS
        1.1 Main
        1.2 Header
        1.3 Blog Posts
      2. PAGES
        2.1 Blog
      3. COMPONENTS

              NOTES
            ---------
  Use to check if text is too small: 
    - https://developers.google.com/web/tools/lighthouse
*/
:root {
  /*Colors*/
  --mainColor: #2a335e;
  --secondaryColor: #ffffff;
  --tertiaryColor: #fff800;

  /*Text Colors*/
  --mainText: #ffffff;
  --secondaryText: #000000;

  /*Font*/
  --font: 'Roboto Slab', serif;
}
/**------------------------------------------
**            1. lAYOUTS
**------------------------------------------*/
/******************1.1 MAIN******************/
* {
  margin: 0;
  padding: 0;

  /*transition animation*/
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}
html{
  height: 100%;
}
body {
  background: var(--mainColor);
  color: var(--mainText);
  height: 100%;
  font-family: var(--font);
}
.introduction{
  padding: 22vh 0 0 5vw;
  h1{
    font-size: 5vw;
  }
  h2{
    font-size: 3vw;
  }
  img{
    position: absolute;
    top: 25vh;
    left: 35vw;
  }
}
/*****************1.2 HEADER********************/
header {
  padding-top: 20px;
  text-align: right;
  li {
    display: inline-block;
    font-size: 1.5vw;
    list-style-type: none;
    margin: 0 5%;
    a{
      color: var(--mainText);
      text-decoration: none; 
    }
    a:hover{
      color: var(--tertiaryColor);
    }
  }
}
/*****************1.3 BLOG POSTS********************/
.blog_post{
  background: var(--secondaryColor);
  color:var(--secondaryText);
  margin: 5% 5vw;
  padding: 3%;
  p{
    margin-bottom: 20px;
  }
  li{
    margin-left: 50px;
  }
  .blog_post_title{
    margin-bottom: 30px;
    text-align: center;
  }
}
/**------------------------------------------
**            2. PAGES
**------------------------------------------*/
/*****************2.1 BLOG********************/
.blog_topic_container{
  display: flex;
}
.blog_topic{
  color:var(--secondaryText);
  background: var(--secondaryColor);
  box-shadow: 1px 1px 10px black;
  margin: 5%;
  padding: 10px;
}
.blog_topic:hover{
  background: var(--tertiaryColor);
  box-shadow: 5px 5px 10px black;
}
/**------------------------------------------
**            3. COMPONENTS
**------------------------------------------*/
/*****************3.1 BUTTONS********************/
button{
  background: var(--tertiaryColor);
  box-shadow: 1px 1px 10px black;
  border-radius: 5px;
  color: var(--secondaryText);
  font-family: var(--font);
  font-size: 1.3vw;
  padding: 1vw;
}
button:hover{
  box-shadow: 5px 5px 10px black;
  cursor: pointer;
}