/*
        Table Of Contents
        ------------------
      1. LAYOUTS
        1.1 Main
        1.2 Header
        1.3 Blog Posts
      2. PAGES
        2.1 Blog
      3. COMPONENTS

              NOTES
            ---------
  Use to check if text is too small: 
    - https://developers.google.com/web/tools/lighthouse
*/
:root {
  /*Colors*/
  --mainColor: #ffffff;

  /*Text Colors*/
  --mainText: #000000

  /*Font*/
  --font: 'Poppins', sans-serif;
}
/**------------------------------------------
**            1. lAYOUTS
**------------------------------------------*/
/******************1.1 MAIN******************/
* {
  margin: 0;
  padding: 0;

  /*transition animation*/
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}
body {
  background: var(--mainColor);
  color: var(--mainText);
  height: 100%;
  font-family: var(--font);
}
a{
  color: var(--mainText);
}
/*****************1.3 BLOG POSTS*******************
.blog_post{
  background: var(--secondaryColor);
  color:var(--secondaryText);
  margin: 5% 5vw;
  padding: 3%;
  p{
    margin-bottom: 20px;
  }
  li{
    margin-left: 50px;
  }
  .blog_post_title{
    margin-bottom: 30px;
    text-align: center;
  }
}
*/
/**------------------------------------------
**            2. PAGES
**------------------------------------------*/
/*****************2.1 HOME*******************/
.home-hero{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}


/*****************2.1 BLOG*******************
.blog-intro{
  background: var(--secondaryColor);
  color: var(--secondaryText);
  padding: 20px;
  margin: 20px;
}
.blog_topic_container{
  display: flex;
}
.blog_topic{
  color:var(--secondaryText);
  background: var(--secondaryColor);
  box-shadow: 1px 1px 10px black;
  margin: 5%;
  padding: 10px;
}
.blog_topic:hover{
  background: var(--tertiaryColor);
  box-shadow: 5px 5px 10px black;
}
*/
/**------------------------------------------
**            3. COMPONENTS
**------------------------------------------*/
/*****************3.1 BUTTONS********************/

button{
  background: var(--mainColor);
  border-radius: 5px;
  color: var(--mainText);
  font-family: var(--font);
  font-size: 1.3vw;
  padding: 5px 20px;
}
button:hover{
  cursor: pointer;
}