//Code taken from: https://codepen.io/nxworld/pen/oLdoWb

.ribbon {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
    z-index: 1;
}
.ribbon::before,
.ribbon::after { //ribbon folds
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid #b92929;
}
.ribbon span {
    position: absolute;
    display: block;
    width: 225px;
    padding: 5px 0;

    background-color: #db3434;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    color: #fff;

    text-align: center;
}
  
/* top left*/
.ribbon {
    top: -10px;
    left: -10px;
}
.ribbon::before,
.ribbon::after {
    border-top-color: transparent;
    border-left-color: transparent;
}
.ribbon::before {
    top: 0;
    right: 52px;
}
.ribbon::after {
    bottom: 52px;
    left: 0;
}
.ribbon span {
    right: -5px;
    top: 20px;
    transform: rotate(-45deg);
}