@import './variables';
.nav{
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    .period{
        color: $sharp-accent;
    }

    ul{
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;

        li{
            margin: 0 1rem;
            padding: 0;
        }
    }
}