@import 'variables.scss';

.hero {
    height: 100vh;
    padding: 50px;

    .fullName{
        position: absolute;
        bottom: 15%;

        display: grid;
        line-height: 1;

        .firstName, .lastName{
            overflow: hidden;
        }
        .firstName p{
            animation: slideUp 0.75s ease-out; 
        }
        .lastName p{
            color: $title-accent;
            animation: slideDown 1.5s ease-out;
        }
    }
}

.footer{
    color: black;
    background-color: white;
    padding: 100px;

    .logo{
        margin-bottom: 50px;
        &::after{
            content: '';
            display: inline-block;
            width: 8px;
            height: 8px;
            background-color: red;
            border-radius: 50%;
            margin-left: 5px;
        }
    }
    ul {
        display: flex;
        gap: 20px;
        margin-bottom: 20px;

        li{
            list-style-type: none;
            margin-bottom: 10px;

            a{
                text-decoration: underline;
                color: $title-accent
            }
        }
    }
    p{
        color: $text-secondary;
    }
}

@keyframes slideUp {
    0% { transform: translateY(100%); }
    50% { transform: translateY(100%); }
    100% { transform: translateY(0%); }
}
@keyframes slideDown {
    0% { transform: translateY(-100%); }
    50% { transform: translateY(-100%); }
    100% { transform: translateY(0%); }
}
@media (max-width: 530px){
    .fullName{
        font-size: $heading3;
    }
}