$pseudo-black: #1e1e1e;
$title-accent: #5b5b5b;
$sharp-accent: #ff0000;

$text-primary: #ffffff;
$text-secondary: #979797;

$heading1: 11.089rem;
$heading2: 6.854rem;
$heading3: 4.236rem;
$heading4: 2.618rem;
$heading5: 1.618rem;