.card{
    border: 1px solid black;
    border-radius: 10px;
    width: 250px;
    height: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative; /* To fix .info to the bottom of div */

    img{
        max-width: 200px;
        margin: 30px 10px 10px 10px;
    }
    .info{
        background-color: #b3b3b3;
        border-radius: 0 0 5px 5px;
        height: 30px;
        width: 230px;
        padding: 5px 10px 20px 10px;

        // the description transition
        position: absolute; /* to fix .info to the bottom of div */
        bottom: 0;
        transition: height 0.5s, border-radius 0.5s;
        overflow: hidden; //hiding the content in the description 

        header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 10px 0 10px;

            h3{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                transition: white-space 0.5s;
            }
           .links{
               display: flex;
           } 
            .links img{
                max-width: 20px;
                margin: 0 5px;
            }
        }
        .description{
            padding: 15px 10px;
        }
    }
}
.card:hover{
    .info{
        height: 275px;
        border-radius: 10px;
    }
}