.card{
    border: 1px solid black;
    border-radius: 10px;
    width: 250px;

    display: flex;
    flex-direction: column;
    align-items: center;

    img{
        max-width: 200px;
        margin: 10px;
    }
    .info{
        background-color: grey;
        padding: 5px;
        header{
            display: flex;
            align-items: center;
            justify-content: space-between;

            
            .links img{
                max-width: 20px;
                margin: 0 5px;
            }
        }
    }
}