.projectsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    margin: auto;

    .title{
        font-size: 2.5rem;
        margin-bottom: 20px;
    }
    .description{
        width: 60vw;
    }
    .projects{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
        justify-items: center;
        justify-content: center;
        gap: 50px;
        width: 100%;
        margin-top: 50px;
    }
}